body {
    background: url('../image/ep_naturalwhite.png');
}

.menu * {
    margin: 0;
    padding: 0;
}

.menu > ul {
    display: flex;
    justify-content: center;
}


.menu ul li {
    position: relative;
    border-right: 1px solid #c7c8ca;
    list-style: none;
    background: #347496;
}

.menu > ul li a {
    display: block;
    background: background: #c9c9c9;
    background: -moz-linear-gradient(top, #c9c9c9 0%, #f6f6f6 2%, #c4c5c7 98%, #757577 100%);
    background: -webkit-linear-gradient(top, #c9c9c9 0%, #f6f6f6 2%, #c4c5c7 98%, #757577 100%);
    background: linear-gradient(to bottom, #c9c9c9 0%, #f6f6f6 2%, #c4c5c7 98%, #757577 100%);
    padding: 15px 30px 15px 40px;
    font-size: 12px;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
}

.menu > ul li > a i.fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

.menu > ul li:first-child {
    border-left: 1px solid #b2b3b5;
}

.menu > ul li:last-child {
    border-right: 1px solid #babbbb;
}

.menu li a:hover {
    color: #fff;
    box-shadow: 1px 5px 10px -5px #333;
    transition: all 0.3s ease;
    background: #e0e1e5;
    background: -moz-linear-gradient(top, #e0e1e5 0%, #454547 2%, #454547 98%, #e0e1e5 100%);
    background: -webkit-linear-gradient(top, #e0e1e5 0%, #454547 2%, #454547 98%, #e0e1e5 100%);
    background: linear-gradient(to bottom, #e0e1e5 0%, #454547 2%, #454547 98%, #e0e1e5 100%);
}

/*sub menu*/

.menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.menu li > ul li {
    border: 1px solid #c7c8ca;
}

.menu li > ul li a {
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}

.menu li:hover > ul {
    display: block;
}

.menu li > ul li ul {
    position: absolute;
    left: 148px;
    top: 0;
}
